.hero__container {
  height: 640px;
  width: 100%;

  .hero__image {
    min-width: 100%;
    height: 640px;
  }

  .hero__cover {
    width: 100%;
    height: 640px;
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.hero__title {
  position: absolute;
  max-width: 811px;
  top: 141px;
  left: 10vw;
  font-family: GraphikBold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.hero__subtitle {
  position: absolute;
  max-width: 640px;
  top: 323px;
  left: 10vw;
  font-family: GraphikRegular;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.hero__action {
  position: absolute;
  width: 180px;
  height: 56px;
  top: 443px;
  left: 10vw;
  background-color: #FFFDFD;
  font-size: 17px;
  font-family: GraphikBold; // FIXME
  color: #000000;
  border: none;
  border-radius: 8px;
}