.intro__container {
  max-width: 820px;
  padding-top: 5px;

  .intro__title {
    width: 611px;
    height: 44px;
    font-family: GraphikBold;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: black;
  }

  .intro__item-container {
    margin-top: 32px;
    padding: 28px 0;
    max-width: 820px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;

    .intro__item {
      height: 30px;
      text-align: left;
      padding: 0px;

      img {
        width: 28px;
      }

      .intro__item-txt {
        margin-left: 15px;
        font-family: GraphikRegular;
        font-size: 16px;
        line-height: 18px;
        color: black;
      }
    }
  }

  .intro__txt {
    margin-top: 34px;
    max-width: 776px;
    font-family: GraphikRegular;
    font-size: 17px;
    line-height: 24px;
    color: black;
  }

  .intro__company-container {
    max-width: 820px;
    margin-top: 29px;
    padding-bottom: 48px;
    border-bottom: 1px solid #DDDDDD;

    .intro__company-item {
      max-width: 222.22px;
      height: 88px;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      border-radius: 8px;
      text-align: center;
      margin: 9px;

      img {
        height: 71px;
        margin: 8px auto;
      }
    }

    .intro__first-item {
      margin-left: 0px;
    }
  }
}