.testimonial__container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 200px;

  .testimonial__quote {
    position: absolute;
    bottom: 16px;
    right: 0px;
    box-sizing: border-box;
    padding: 15px;
    background-image: url(./image/Union.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;
  }

  .testimonial__person {
    position: absolute;
    top: 180px;
    right: 0px;
  }
}