.testimonial__container {
  position: relative;
  height: 200px;

  .testimonial__quote {
    position: absolute;
    bottom: 42px;
    right: 0px;
    box-sizing: border-box;
    padding: 11px 20px 20px 11px;
    background-image: url(./image/Union.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .testimonial__person {
    position: absolute;
    top: 170px;
    right: 0px;
  }
}