.testimonial__container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 200px;

  .testimonial__quote {
    position: absolute;
    bottom: 48px;
    right: 0px;
    box-sizing: border-box;
    padding: 11px 28px 20px 11px;
    background-image: url(./image/Union.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;
  }

  .testimonial__person {
    position: absolute;
    top: 170px;
    right: 0px;
  }
}